# === GVM / OpenVAS Environment Variables ===
export INSTALL_PREFIX={{ install_prefix }}
export PATH=$PATH:{{ install_prefix }}/sbin

export SOURCE_DIR={{ source_dir }}
export BUILD_DIR={{ build_dir }}
export INSTALL_DIR={{ install_dir }}

export GVM_LIBS_VERSION={{ gvm_libs_version }}
export GVMD_VERSION={{ gvmd_version }}
export PG_GVM_VERSION={{ pg_gvm_version }}
export GSA_VERSION={{ gsa_version }}
export GSAD_VERSION={{ gsad_version }}
export OPENVAS_SMB_VERSION={{ openvas_smb_version }}
export OPENVAS_SCANNER_VERSION={{ openvas_scanner_version }}
export OSPD_OPENVAS_VERSION={{ ospd_openvas_version }}
export OPENVAS_DAEMON={{ openvas_daemon_version }}
# === Fin des variables GVM ===

